# macOS
.DS_Store

# Ruby
*.gem
*.rbc
.bundle
.yardoc
_yardoc/
coverage/
doc/
pkg/
tmp/
vendor/bundle

# RSpec
.rspec_status

# Demo app database
demo/*.sqlite3
demo/*.sqlite3-shm
demo/*.sqlite3-wal

# RSpec example status persistence
.rspec_status
